.menu{
    border-radius: 35px;
    background-color: #9AB8CF;
    width: 75%;
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 500px;
    /* z-index: -1; */
    pointer-events: none;
  }
  
.sliding-out-monster {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 300px;
   animation: slide-out-vert 0.5s linear forwards;
 }

 .sliding-out-cookie {
   position: absolute;
   top: 70px;
   left: 0;
   width: 150px;
   animation: slide-out-hor 0.5s linear forwards;
}
  
@keyframes slide-out-vert {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(200%);
    }
  }


@keyframes slide-out-hor {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
}

.card{
    padding: 10px;
    background-color: #FAEFDE;
    border-radius: 25px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-content{
    text-align: center;
    font-size: 0.8rem;
    padding: 15px;
    width: 100%;
}

.card-btn{
    font-family: 'SixtyFour';
    background-color: #A5895F;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.card-btn:hover{
    cursor: pointer;
    background-color: #503813;
}

.card img{
    width: 80%;
    /* height: 200px;  */
}