@font-face {
    font-family: 'SixtyFour';
    src: url('../utils/Fonts/SixtyFour/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'SixtyFour';
    background-color: #7B9FBA;
}

html{
    width: 100%;
    height: 100%;
}

#content{
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: #7B9FBA; */
    width: 100%;
    /* height: 87%; */
    display: flex;
    justify-content: center;
}

header{
    position: relative;
    border-bottom: 3px solid white;
    box-shadow: 3px 3px 10px #bbb;
    height: 10vh;
    padding: 10px;
    background-color: #A5895F;
    z-index: 10;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-btn{
    font-family: 'SixtyFour';
    background-color: #FAEFDE;
    border-radius: 10px;
    padding: 5px;
    height: 55px;
    width: 140px;
    box-shadow: 3px 3px 10px #bbb;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
}

.nav-btn:hover{
    background-color: #7B9FBA;
}